body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:790px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:340px;
  top:79px;
  width:450px;
  height:731px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:731px;
}
#u1 {
  position:absolute;
  left:2px;
  top:358px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:406px;
  top:199px;
  width:320px;
  height:481px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:481px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u4 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:5px;
  top:17px;
  width:309px;
  height:445px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:445px;
}
#u6 {
  position:absolute;
  left:2px;
  top:214px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:25px;
  top:143px;
  width:275px;
  height:240px;
  font-family:'', 'League Gothic';
  font-weight:700;
  font-size:100px;
  color:#D7D7D7;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:240px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:13px;
  top:38px;
  width:295px;
  height:404px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:404px;
}
#u10 {
  position:absolute;
  left:2px;
  top:194px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:10px;
  top:199px;
  width:300px;
  height:83px;
  overflow:hidden;
}
#u11_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:83px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:83px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u13 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:559px;
  top:0px;
  width:50px;
  height:50px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:481px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u17 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:5px;
  top:17px;
  width:309px;
  height:445px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:445px;
}
#u19 {
  position:absolute;
  left:2px;
  top:214px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:17px;
  top:142px;
  width:290px;
  height:240px;
  font-family:'', 'League Gothic';
  font-weight:700;
  font-size:100px;
  color:#D7D7D7;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:240px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:13px;
  top:38px;
  width:295px;
  height:404px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:404px;
}
#u23 {
  position:absolute;
  left:2px;
  top:194px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:10px;
  top:199px;
  width:300px;
  height:83px;
  overflow:hidden;
}
#u24_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:83px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:83px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u26 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:559px;
  top:0px;
  width:50px;
  height:50px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u28 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:481px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u30 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:5px;
  top:16px;
  width:309px;
  height:445px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:445px;
}
#u32 {
  position:absolute;
  left:2px;
  top:214px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:17px;
  top:142px;
  width:290px;
  height:240px;
  font-family:'', 'League Gothic';
  font-weight:700;
  font-size:100px;
  color:#D7D7D7;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:240px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:13px;
  top:38px;
  width:295px;
  height:404px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:404px;
}
#u36 {
  position:absolute;
  left:2px;
  top:194px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:10px;
  top:199px;
  width:300px;
  height:83px;
  overflow:hidden;
}
#u37_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:83px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u37_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u37_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:83px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u37_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u39 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:559px;
  top:0px;
  width:50px;
  height:50px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u41 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:481px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u43 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:5px;
  top:16px;
  width:309px;
  height:445px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:445px;
}
#u45 {
  position:absolute;
  left:2px;
  top:214px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:17px;
  top:142px;
  width:290px;
  height:240px;
  font-family:'', 'League Gothic';
  font-weight:700;
  font-size:100px;
  color:#D7D7D7;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:240px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:13px;
  top:38px;
  width:295px;
  height:404px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:404px;
}
#u49 {
  position:absolute;
  left:2px;
  top:194px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:10px;
  top:199px;
  width:300px;
  height:83px;
  overflow:hidden;
}
#u50_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:83px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u50_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:83px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u50_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u52 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:559px;
  top:0px;
  width:50px;
  height:50px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u54 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:481px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u56 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:5px;
  top:16px;
  width:309px;
  height:445px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:445px;
}
#u58 {
  position:absolute;
  left:2px;
  top:214px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:17px;
  top:142px;
  width:290px;
  height:240px;
  font-family:'', 'League Gothic';
  font-weight:700;
  font-size:100px;
  color:#D7D7D7;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:240px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:13px;
  top:38px;
  width:295px;
  height:404px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:404px;
}
#u62 {
  position:absolute;
  left:2px;
  top:194px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:10px;
  top:199px;
  width:300px;
  height:83px;
  overflow:hidden;
}
#u63_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:83px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u63_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u63_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:83px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u63_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u65 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:559px;
  top:0px;
  width:50px;
  height:50px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u67 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:405px;
  top:580px;
  width:320px;
  height:40px;
  overflow:hidden;
}
#u68_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u68_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u69 {
  position:absolute;
  left:100px;
  top:18px;
  width:12px;
  height:12px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u70 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:130px;
  top:18px;
  width:12px;
  height:12px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u72 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:160px;
  top:18px;
  width:13px;
  height:12px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
}
#u74 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:190px;
  top:18px;
  width:13px;
  height:12px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
}
#u76 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:220px;
  top:18px;
  width:12px;
  height:12px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u78 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u68_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u79 {
  position:absolute;
  left:252px;
  top:18px;
  width:12px;
  height:12px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u80 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:278px;
  top:18px;
  width:12px;
  height:12px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u82 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:305px;
  top:18px;
  width:13px;
  height:12px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
}
#u84 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:333px;
  top:18px;
  width:13px;
  height:12px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
}
#u86 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:362px;
  top:18px;
  width:12px;
  height:12px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u88 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u68_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u89 {
  position:absolute;
  left:252px;
  top:18px;
  width:12px;
  height:12px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u90 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:307px;
  top:18px;
  width:12px;
  height:12px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u92 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:279px;
  top:18px;
  width:13px;
  height:12px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
}
#u94 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:334px;
  top:18px;
  width:13px;
  height:12px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
}
#u96 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:362px;
  top:18px;
  width:12px;
  height:12px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u98 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u68_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u99 {
  position:absolute;
  left:252px;
  top:18px;
  width:12px;
  height:12px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u100 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:307px;
  top:18px;
  width:12px;
  height:12px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u102 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:279px;
  top:18px;
  width:13px;
  height:12px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
}
#u104 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:334px;
  top:18px;
  width:13px;
  height:12px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
}
#u106 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:362px;
  top:18px;
  width:12px;
  height:12px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u108 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u68_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u109 {
  position:absolute;
  left:252px;
  top:18px;
  width:12px;
  height:12px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u110 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:307px;
  top:18px;
  width:12px;
  height:12px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u112 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:279px;
  top:18px;
  width:13px;
  height:12px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
}
#u114 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:334px;
  top:18px;
  width:13px;
  height:12px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
}
#u116 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:362px;
  top:18px;
  width:12px;
  height:12px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u118 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:460px;
  top:620px;
  width:200px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u120 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
