body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1032px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:340px;
  top:79px;
  width:450px;
  height:731px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:731px;
}
#u1 {
  position:absolute;
  left:2px;
  top:358px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:406px;
  top:199px;
  width:320px;
  height:60px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:406px;
  top:217px;
  width:24px;
  height:24px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:525px;
  top:212px;
  width:33px;
  height:16px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  visibility:hidden;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:479px;
  top:212px;
  width:193px;
  height:33px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:33px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:696px;
  top:218px;
  width:24px;
  height:24px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:466px;
  top:280px;
  width:200px;
  height:200px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u13 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:534px;
  top:291px;
  width:10px;
  height:127px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
}
#u14_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u14_end {
  position:absolute;
  left:-5px;
  top:110px;
  width:20px;
  height:18px;
}
#u14_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:127px;
}
#u15 {
  position:absolute;
  left:601px;
  top:304px;
  width:10px;
  height:119px;
  -webkit-transform:rotate(40deg);
  -moz-transform:rotate(40deg);
  -ms-transform:rotate(40deg);
  transform:rotate(40deg);
}
#u15_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u15_end {
  position:absolute;
  left:-5px;
  top:102px;
  width:20px;
  height:18px;
}
#u15_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:119px;
}
#u16 {
  position:absolute;
  left:521px;
  top:378px;
  width:10px;
  height:95px;
  -webkit-transform:rotate(70deg);
  -moz-transform:rotate(70deg);
  -ms-transform:rotate(70deg);
  transform:rotate(70deg);
}
#u16_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u16_end {
  position:absolute;
  left:-5px;
  top:78px;
  width:20px;
  height:18px;
}
#u16_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:95px;
}
#u17 {
  position:absolute;
  left:600px;
  top:412px;
  width:27px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:552px;
  top:315px;
  width:27px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:798px;
  top:88px;
  width:131px;
  height:320px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:320px;
}
#u22 {
  position:absolute;
  left:2px;
  top:152px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:490px;
  top:367px;
  width:27px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:440px;
  top:460px;
  width:10px;
  height:200px;
}
#u25_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u25_end {
  position:absolute;
  left:-5px;
  top:183px;
  width:20px;
  height:18px;
}
#u25_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:200px;
}
#u26 {
  position:absolute;
  left:445px;
  top:654px;
  width:200px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u27 {
  position:absolute;
  left:460px;
  top:555px;
  width:82px;
  height:10px;
  -webkit-transform:rotate(40deg);
  -moz-transform:rotate(40deg);
  -ms-transform:rotate(40deg);
  transform:rotate(40deg);
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:65px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:82px;
  height:1px;
}
#u28 {
  position:absolute;
  left:531px;
  top:581px;
  width:96px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:79px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:96px;
  height:1px;
}
#u29 {
  position:absolute;
  left:770px;
  top:195px;
  width:60px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  text-align:center;
}
#u30 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u29_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u31 {
  position:absolute;
  left:770px;
  top:224px;
  width:60px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  text-align:center;
}
#u32 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u31_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u33 {
  position:absolute;
  left:834px;
  top:224px;
  width:60px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  text-align:center;
}
#u34 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u33_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u35 {
  position:absolute;
  left:898px;
  top:224px;
  width:60px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  text-align:center;
}
#u36 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u35_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u37 {
  position:absolute;
  left:962px;
  top:224px;
  width:70px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  text-align:center;
}
#u38 {
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u37_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u39 {
  position:absolute;
  left:770px;
  top:257px;
  width:60px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  text-align:center;
}
#u40 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u39_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u41 {
  position:absolute;
  left:834px;
  top:257px;
  width:60px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  text-align:center;
}
#u42 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u41_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u43 {
  position:absolute;
  left:904px;
  top:257px;
  width:46px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  text-align:center;
}
#u44 {
  position:absolute;
  left:16px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u43_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
